.nav-link {
    font-size: 1.4em;
    color: rgb(139, 111, 167) !important;
}
.navbar-brand {
    margin-left: 2em;
}
#sign_in_btn {
    font-size: 1em;
    width: 10em;
    background-color: rgb(139, 111, 167) !important;
    color: white;
    margin-right: 2em;
}
.carousel-caption {
    width: 10em;
    font-size: 2em;
    text-align: right;
    position: absolute;
    right: 15%;
    bottom: 40%;
    max-width: 400px;
    left: auto;
}
.carousel-item {
    min-height: 350px;
}
#Home_sm {
    color: white;
    font-size: 1.5em;
    padding-top: 100px;
    background-image: url("../images/carousel1.jpg");
}
.demo_btn {
    width: 10em;
    background-color: rgb(139, 111, 167) !important;
    color: white;
    margin-right: 2em;
}
#About {
    background-image: url("images/stats.PNG");
    background-size: cover;
}
.headings {
    font-weight: 500em;
    margin-top: 10%;
    text-align: center;
}
.f_headings {
    font-weight: bold;
}
.f_info {
    font-size: 1.5em;
    text-align: left;
    font-weight: 200em;
}
.features {
    margin-top: 5%;
    margin-bottom: 10%;
}
.jumbotron {
    background-color: rgb(182, 181, 181);
    padding-bottom: 5px;
}
.wrapper {
    padding: 100px auto;
}
#Testimonials {
    padding-top: 10px;
    font-weight: 500em;
    text-align: center;
}
.owl-carousel {
    padding-top: 50px;
}
#Contact {
    margin-top: 100px;
}
#footer_textarea {
    border-color: black;
    border-width: 4px;
    border-radius: 5px;
    background-color: rgb(182, 181, 181);
    text-align: center;
    width: 200px;
    height: 40px;
    color: black;
    display: inline-block;
    float: left;
}
::placeholder {
    color: black;
}
::-ms-input-placeholder {
    color: black;
}
#footer_btn {
    margin-bottom: 50px;
    border-color: black;
    border-radius: 5px;
    background-color: black;
    color: white;
    margin-left: 10px;
    margin-top: 5px;
}
.container-fluid {
    padding-top: 0px;
}
